<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div>
    <input type="text" formControlName="email" >
  </div>
  <div>
    <input type="password" formControlName="password" >
  </div>
  <div>
    <button type="submit"> Submit</button>
  </div>
</form>
